PORT=3000
ASAAS_API_URL=https://api.asaas.com/v3
ASAAS_API_TOKEN=
SELLFLUX_API_TOKEN=
ASAAS_WEBHOOK_TOKEN=
BOLETO_RESERVA_PHONE=+5592982904431
BOLETO_RESERVA_TEMPLATE_ID=2247586429353924
BOLETO_PRINCIPAL_PHONE=+5592981799325
BOLETO_PRINCIPAL_TEMPLATE_ID=1086798570956908